In [12]:
import pandas as pd

data = {
    'Column1': [1, 2, None, "C"],
    'Column2': ['A', None, 'C', "D"],
    'Column3': [None, 'B', 'C', "C"], 
    'Column4': [1, 'B', 'C', "A"]
}
df = pd.DataFrame(data)

In [13]:
df

  Column1 Column2 Column3 Column4
0       1       A    None       1
1       2    None       B       B
2    None       C       C       C
3       C       D       C       A

In [14]:
df_cleaned = df.dropna()

In [15]:
df_cleaned

  Column1 Column2 Column3 Column4
3       C       D       C       A