#### Exercise: Matrix Math

Below is some indian companies revenues in US dollars. Using numpy can you convert this into Indian rupees? 1 USD = 75 INR

![](revenue_usd.jpg)

In [1]:
import numpy as np

revenue_usd = np.array([[200,220,250],[68,79,105],[110,140,180],[80,85,90]])

In [3]:
usd_to_inr_scaler = np.array([[75]])

In [4]:
revenue_usd*usd_to_inr_scaler

array([[15000, 16500, 18750],
       [ 5100,  5925,  7875],
       [ 8250, 10500, 13500],
       [ 6000,  6375,  6750]])

This is our answer!

Divine flowers is a flower shop that sells different type of flowers. Below is the table showing how many flowers of each type they sold in different months. Also given are the prices of one flower each. Using this find out their total sales in every month.

![](flowers.jpg)

In [6]:
units_sold = np.array([[50,60,25],[10,13,5],[40,70,52]])

price_per_unit = np.array([[20,30,15]])

In [8]:
np.dot(price_per_unit,units_sold)

array([[1900, 2640, 1430]])

That is our solution (1900 in jan, 2640 in feb, 1430 in March)